[submodule "fiscal_print"]
	path = fiscal_print
	url = git@gitlab.com:addons_arkisoft/fiscal_print.git
	branch = 17.0-des
[submodule "exchange_rate_quotes"]
	path = exchange_rate_quotes
	url = git@gitlab.com:addons_arkisoft/exchange_rate_quotes.git
	branch = 17.0
[submodule "tax_report"]
	path = tax_report
	url = git@gitlab.com:addons_arkisoft/tax_report.git
	branch = 17.0
[submodule "personalized_ledger"]
	path = personalized_ledger
	url = git@gitlab.com:addons_arkisoft/personalized_ledger.git
	branch = 17.0
[submodule "pos_sales_book"]
	path = pos_sales_book
	url = git@gitlab.com:jorgerojasve1/pos_sales_book.git
	branch = 17.0-des
[submodule "custom_account_report"]
	path = custom_account_report
	url = git@gitlab.com:addons_arkisoft/custom_account_report.git
	branch = 17.0
[submodule "api_exchange_rate"]
	path = api_exchange_rate
	url = git@gitlab.com:addons_arkisoft/api_exchange_rate.git
	branch = 17.0
[submodule "pos_igtf_tax"]
	path = pos_igtf_tax
	url = git@gitlab.com:jorgerojasve1/pos_igtf_tax.git
	branch = 17.0-des
[submodule "pos_show_dual_currency"]
	path = pos_show_dual_currency
	url = git@gitlab.com:jorgerojasve1/pos_show_dual_currency.git
	branch = 17.0-des
[submodule "pos_restrict_product_stock"]
	path = pos_restrict_product_stock
	url = git@gitlab.com:jorgerojasve1/pos_restrict_product_stock.git
	branch = 17.0
[submodule "pos_restrict_product_stock_custom"]
	path = pos_restrict_product_stock_custom
	url = git@gitlab_gmail:jorgerojasve1/pos_restrict_product_stock_custom.git
